@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --page-padding: 40px;
    --input-height: 55px;
    --input-padding: 20px;
    --suggestion-padding: 8px;
    --icon-size: 20px;
    --button-padding: 10px 20px;
    --input-radius: 5px;
    --button-radius: 10px;
    --tag-gap: 8px;
    --icon-color: #fc604f;
    --input-bgcolor: #fff;
    --suggestion-hover-bgcolor: #efefef;
    --button-bgcolor: #efefef;
    --button-hover-bgcolor: #dedede;
    --delete-tag-bgcolor: #d01500;
    --input-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.18);
    --hover-transition-duation: 150ms;
}

html {
    min-width: 400px;
    min-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.errorPage {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: salmon;
    padding: 0 var(--page-padding);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 450px;
    margin: var(--page-padding) auto;
}


/* 名稱區 */
#name-area {
    margin: var(--page-padding) 0;
}


/* 難度區 */
#difficulty-area {
    margin: var(--page-padding) 0;
}


/* 註解區 */
#comment-area {
    margin: var(--page-padding) 0;
}


/* tag 區*/
#tag-area {
    margin: var(--page-padding) 0;
}

#search-area {
    position: relative;
    width: 100%;
    margin: 0 0 var(--page-padding) 0;
}

#search-area input {
    position: relative;
    z-index: 10;
    width: 100%;
    height: var(--input-height);
    padding: 0 calc(var(--icon-size) + var(--input-padding) * 2) 0 var(--input-padding);
    outline: none;
    border: none;
    border-radius: var(--input-radius);
    font-size: 1rem;
    background-color: var(--input-bgcolor);
    box-shadow: var(--input-shadow);
}

#search-area.show-suggestions input {
    box-shadow: unset;
}

#search-icon {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: var(--input-height);
    width: calc(var(--icon-size) + var(--input-padding) * 2);
    text-align: center;
    line-height: var(--input-height);
    font-size: var(--icon-size);
    color: var(--icon-color);
}

#search-area #suggestions-list {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 280px;
    padding: var(--input-height) 0 var(--input-radius);
    border-radius: var(--input-radius);
    overflow-y: auto;
    background-color: var(--input-bgcolor);
    box-shadow: var(--input-shadow);
    opacity: 0;
    pointer-events: none;
}

#search-area.show-suggestions #suggestions-list {
    opacity: 1;
    pointer-events: auto;
}

#suggestions-list li {
    list-style: none;
    padding: var(--suggestion-padding) var(--input-padding);
    width: 100%;
    cursor: default;
}

#suggestions-list li:hover {
    background-color: var(--suggestion-hover-bgcolor);
    cursor: pointer;
}

#current-tags {
    margin: var(--page-padding) calc(-1 * var(--tag-gap));
}

.tag {
    display: inline-block;
    margin: var(--tag-gap);
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    background-color: var(--input-bgcolor);
    box-shadow: var(--input-shadow);
    cursor: pointer;
    transition: var(--hover-transition-duation);
}

.tag:hover {
    background-color: var(--button-hover-bgcolor);
    text-decoration:line-through;
}


/* 儲存區 */
#save-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-button {
    position: absolute;
    bottom: var(--page-padding);
    padding: var(--button-padding);
    border-width: 0;
    border-radius: var(--button-radius);
    background-color: var(--input-bgcolor);
    box-shadow: var(--input-shadow);
    cursor: pointer;
    transition: var(--hover-transition-duation);
}

#save-button:hover {
    background-color: var(--button-hover-bgcolor);
}